/* some style */
body {
    background-color: #222;
    color: #DDD;
    font-family: fantasy
}

h1 {
    font-family: serif;
    font-size: 3rem;
}

button {
    border: 0;
    /* background: none; */
    box-shadow: none;
    border-radius: 0px;
    padding: 1rem 2rem;
    font-size: 2rem;
    text-align: center;
}

.crit-fail {
    color: #FF1300;
    /* color: #B70D00 */
}

.crit-roll {
    color: #FFD700;
}

.worst-roll {
    color: #AA99D7;
}

.best-roll {
    color: #00C322;
}

.dice-timeout {
    width: 100%;
    height: 5px;
    -webkit-appearance: none;
    appearance: none;
}

.dice-timeout[value]::-webkit-progress-bar {
    background-color: #222;
    /* background-color: red; */
}

.dice-timeout[value]::-webkit-progress-value {
    background-color: #AAA;
}

.dice-icon {
    width: 105px;
}

@keyframes dice-roll-animation {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}

.refresh-icon {
    height: 60px;
    float: right;
}